html, body {
  width: 100%;
  height: 100%;
  width:    100vw;
  height:  100hv;
  position: relative;
  font: normal normal 100% Roboto, sans-serif;
  box-sizing: border-box;
  background: linear-gradient(top, #039be5 400px, white 400px);
  display: table;
  color: rgba(38, 50, 56, 1);
}

body *,
body *::before,
body *::after {
    box-sizing: inherit;
    transition: inherit;
}


h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.125;
    letter-spacing: -.01em;
    word-spacing: .02em
}

article h1 + h2, article h2 + h3, article h3 + h4, article h4 + h5, article h5 + h6 {
    color: rgba(69, 90, 100, 1);
    margin-top: 1.5rem;
}

br {
    display: block;
    margin-top: 0.375rem;
}


a {
 color: #039be5;
}

figure {
    margin: 0;
}

img,
p {
    color: rgba(84, 110, 122, 1);
    font-weight: 300;
    font-size: 1rem;
}

p, pre, blockquote {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
ul p{
   width: auto; 
   display: block;
}

body:not(.home) .main > article > * + * {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

article > * + h1,article > * + h2, article > * + h3{
    margin-top: 3rem;
}

article .row > .column + .column {
    margin-top: 1.5rem;
}
.column.push-aside {
    padding-right: 0.935rem;
}
.column.push-aside + .column  {
    padding-left: 0.935rem;
} 


pre {
    width: 100%;
    font-size: 0.725rem;
}
code {
    width: 100%;
}

ol, ul {
    margin-left: 1rem;
}

blockquote,
blockquote  p{
    color: inherit;
    font-style: italic;
    border-color: rgba(3, 155, 229, 1);
    border-width: 2px;
    font-weight: 300;
}
.section-separator,
hr {
   max-width: 25rem;
   margin-top: 2.75rem;
   margin-bottom: 2.75rem;
   background-color: #e7e9ed;
   border: none;
   transform: translateX(-50%);
   left: 50%;
   height: 1px;
   position: relative;
   display: inline-block;
   width: 100%;
}
.section-separator {
    max-width: 100%;
    margin: 0;
    transform: none;
}

.center {
    margin: 0 auto;
    text-align: center;
}

svg {
  width: 0.875rem;
  height: 0.875rem;
  vertical-align: top;
}

.logo svg {
   width: 1rem;
   height: 1rem;
}

.featured .picture {
    border-radius: 0;
    padding: 0;
    vertical-align: top;
    display: inline-block;
}
.featured .picture > * {
    width: 100px;
    height: 100px;
    z-index: 100;
}
.featured  {
    margin-bottom: 3.35rem;
}
.column .thumbnail {
    width: 100%;
}
.svg,
.button,
.tween {
   transition: all 300ms ease-in-out;
}
.tween.bouncing {
    transition-timing-function: cubic-bezier(.46, 1.48, .18, .81)
}

.tween.slower {
    transition-duration: 450ms;
}

.affix {
    position: fixed;
    width: 100%;
    display: block;
}

.affix.top {
    top: 0;
    left: auto;
}

.spread {
    display: table;
    width: 100%;
}
.rounded-frame,
.frame {
    position: relative;
}
.rounded-frame::after,
.frame::after {
    border: 1px solid #039be5;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.rounded-frame::after {
    border-radius: 50%;
    width: 125%;
    height: 125%;
}

.featured > *,
.rounded {
    border-radius: 50%;
    background-clip: border-box;
}
.featured.line-through > * {
    padding: 1.125rem;
}
.twitter:focus,
.twitter:hover,
.twitter {
    background-color: #26c4f1;
    border-color: #26c4f1;
}
.google:focus,
.google:hover,
.google {
    background-color: #e93f2e;
    border-color: #e93f2e;
}
.facebook:focus,
.facebook:hover,
.facebook {
    background-color: #306199;
    border-color: #306199;
}

.featured.line-through::before {
    background-color: rgba(3, 155, 229, 1);
}

.line-through {
    position: relative;
    z-index: 1;
}
.line-through::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cfd8dc;
    display: block;
    z-index: -1;
}

.u-h {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.pale {
   background: white !important;
}


.stack > * + * {
    margin-top: 1rem;
}
.stack-x2 > * + * {
    margin-top: 2rem;
}

/*Override */

.intro .button {
    font-weight: 700;
}
.intro .hollow.primary.button:hover {
    border-color: rgba(3, 155, 229, 1);
    background-color: rgba(3, 155, 229, 1);
    color: white;
}

.primary {
    background-color: rgba(3, 155, 229, 1);
    border-color: rgba(3, 155, 229, 1);
}

.share.button-group:last-child {
    margin-top: 3rem;
}

.share.button-group .button:not(:last-child) {
    margin-right: 0.725rem;
}

.rise,
.button {
    box-shadow: 5px 5px rgba(84, 110, 122, .05);
}

.button:focus {
    box-shadow: inset 0px 0px 5px rgba(84, 110, 122, .31);
    transform: translate(5px, 5px);
}

.button svg {
    margin-right: 0.5rem;
}

.button.overlay {
    position: relative;
    z-index: 1;
}

.button.overlay::before {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.24);
}

.button use,
.button path {
    fill: white;
}

.button {
    margin-bottom: 0;
    background-clip: border-box;
    font-weight: 400;
    font-style: normal;
}

.hollow.primary.button {
    color: rgba(120, 144, 156, 1);
}
.hollow.secondary.button {
    color: rgba(120, 144, 156, 1);
}

.title-bar {
    background-color: rgba(38, 50, 56, 1);
}

.top-bar, .top-bar ul {
    background-color: transparent;
}

.row {
    max-width: 50rem;
}



/* Header */

.header a {
    color: white;
}
.header use {
    fill: white;
}
/* Navigation */
.navigation {
    z-index: 10;
}
.navigation:not(.inverse) .logo svg path{
    fill: white;
}
.navigation.inverse {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.navigation.up {
    transform: translateY(-100%);
}
.navigation.down {
    transform: translateY(0);
}
.navigation.inverse a{
    color: rgba(38, 50, 56, 1);
}
.navigation.inverse use {
    fill: rgba(38, 50, 56, 1);
}
.navigation .top-bar-right ul:first-of-type > li > a {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.735rem;
    letter-spacing: .2px;
}
.navigation .top-bar-right ul:first-of-type > li > a {
    position: relative;
}
.navigation .top-bar-right ul:first-of-type >  li > a::after {
    content: "";
    background-color: currentColor;
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 0.25s ease-in-out;
}
.navigation  .top-bar-right ul:first-of-type > li > a:hover::after {
    transform: scale(1)
}

/* Main */

.main {
    margin-top: 8rem;
    padding: 1.938rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Intro */

.intro {
    padding-top: 1.938rem;
}
.intro  h1 {
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 2.75rem;
}

.overlay {
    position: relative;
}


.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.48);
    display: block;
    z-index: 0;
}

.overlay.reveal-on-hover::before {
    opacity: 0;
    visibility: hidden;
}
.overlay.reveal-on-hover.from-below::before  {
    transform: translateY(100%);
}
.overlay.reveal-on-hover:focus::before,
.overlay.reveal-on-hover:hover::before {
    opacity: 1;
    visibility: visible;
}
.overlay.reveal-on-hover.from-below:focus::before,
.overlay.reveal-on-hover.from-below:hover::before {
    transform: translateY(0);
}
.absolute-center-before::before,
.absolute-center-after::after,
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-through::before,
.absolute-center-y-before::before,
.absolute-center-y-after::after,
.absolute-center-y {
    position: absolute;
    top: 50%;
    left: auto;
    transform: translate(0, -50%);
}

.absolute-center-x-before::before,
.absolute-center-x-after::after,
.absolute-center-x {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.medium-up-2 > .column {
    margin-bottom: 1.5rem;
}

.thumbnail-background {
    z-index: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-position: -20%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 110%;
    height: 110%;

}
.thumbnail-background::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    filter: blur(5px);
    background-color: currentColor;
}
.thumbnail {
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    box-shadow: none;
}
.thumbnail:hover {
    box-shadow: none;
    outline: none;
    border: none;
    outline: none;
}


/* Samples */

.sample {
}

.sample figure {
    position: relative;
    padding: 2.725rem;
    max-height: 354px;
    overflow: hidden;
}
.sample figure::before {
    content: "";
    top: 2.725rem;
    left: 2.725rem;
    right: 2.725rem;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 1;
    background-color: currentColor;
    box-shadow: 0 0 6px 1px white;
    opacity: 0;
}

.sample .thumbnail {
    margin: 0;
}

.sample > a {
    display: inline-block;
    vertical-align: top;
}
.sample:nth-child(4n+ 1) figure::before,
.sample:nth-child(4n+ 1) .thumbnail-background::before,
.sample:nth-child(4n+ 1) .details::before {
    color:  rgba(75, 119, 190, .4);
}
.sample:nth-child(4n+ 2) figure::before,
.sample:nth-child(4n+ 2) .thumbnail-background::before,
.sample:nth-child(4n+ 2) .details::before {
    color: rgba(52, 152, 219, .4);
}
.sample:nth-child(4n+ 3) figure::before,
.sample:nth-child(4n+ 3) .thumbnail-background::before,
.sample:nth-child(4n+ 3) .details::before {
    color: rgba(22, 160, 133, .4);
}
.sample:nth-child(4n+ 4) figure::before,
.sample:nth-child(4n+ 4) .thumbnail-background::before,
.sample:nth-child(4n+ 4) .details::before {
    color: rgba(190, 144, 212, .4);
}

.sample .details {
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 2;
}
.sample .details::after,
.sample .details::before {
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
    position: absolute;
}
.sample .details::before {
    background-color: currentColor;

}
.sample .details::after {
    background-color: rgba(0, 0, 0, .15);
    top: 42px;
}
.sample .details > * {
    padding: .75rem 1.5rem;
    width: 100%;
    display: block;
    position: relative;
}
.sample .details > * + * {
    margin-top: .75rem;
}

.sample:hover figure::before {
    opacity: 0.6;
}
.sample:hover .details {
    transform: translateY(0);
}
.sample .details .title,
.sample .details .body {
    opacity: 0;
    font-weight: 400;
}
.sample:hover .details .body,
.sample:hover .details .title  {
    opacity: 1;
}
.sample:hover .details .body {
    transform: translateX(0);
}
.sample .details .body {
    transition-delay: 150ms;
}

.sample .details .title {
    text-transform: uppercase;
    background: rgba(0, 0, 0, .2);
    margin-bottom: 0;
}
.sample .details .body{
    color: inherit;
    margin: 0;
    font-size: .825rem;
    transform: translateX(100%);
    height: 100%;
}

/*FOOTER*/

.footer {
    margin-top: 4.275rem;
}
.footer p {
    margin-bottom: 0;
}
.footer .menu.simple > li:last-child {
    margin-right: 0;
}
.footer svg:hover path,
.footer svg:hover use {
    fill: rgba(3, 155, 229, 1);
}
.footer use,
.footer path  {
    fill: rgba(84, 110, 122, 1);
}

.footer > .row {
    border-top: 1px solid rgba(236, 239, 241, 1);
    padding: 1.5rem 0;
}
#copyright {
    font-size: 0.750rem;
}

/* Media Queries */

/* Extra small devices (portrait phones, less than 34em)*/
@media (max-width: 33.9em) {

}

/* Small devices (landscape phones, less than 48em) */
@media (max-width: 47.9em) {
    .intro h1 {
        font-size: 2rem;
    }
    #mobileNavigation {
        height: 3.125rem;
    }
    #mobileNavigation.inverse .hamburger > *::after,
    #mobileNavigation.inverse .hamburger > *::before,
    #mobileNavigation.inverse .hamburger > * {
        background-color: rgba(38, 50, 56, 1);
    }
    #mobileNavigation .logo svg,
    #mobileNavigation > a {
        width: 1.5rem;
        height: 1.5rem;
    }
    #mobileNavigation  .logo svg {
    }
    #mobileNavigation .logo {
        left: 1rem;
    }
    #mobileNavigation .hamburger {
        right: 1rem;
    }

    #mobileNavigation .top-bar-left,
    #mobileNavigation .top-bar-right  {
        width: auto;
    }
    .hamburger {
        width: auto;
        height: 100%;
        display: block;
        cursor: pointer;
     }
    .hamburger > * {
        width: 1.5rem;
        height: 3px;
        top: 50%;
        left: 50%;
        margin: -3px 0 0 -50%;
        animation-name: hamburger-rotate-out;
    }
    .hamburger > * ,
    .hamburger > *::before,
    .hamburger > *::after {
        position: absolute;
        background-color: white;
        line-height: 0;
        display: block;
        animation-fill-mode: forwards;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }
    .hamburger > *::before,
    .hamburger > *::after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
    }
    .hamburger > *::before {
        top: -0.435rem;
        animation-name: hamburger-before-rotate-out;
    }
    .hamburger > *::after  {
        top: 0.435rem;
        animation-name: hamburger-after-rotate-out;
    }
    .hamburger.in > * {
         animation-name: hamburger-rotate-in;
    }
    .hamburger.in > *::before {
        animation-name: hamburger-before-rotate-in;
    }
    .hamburger.in > *::after {
        animation-name: hamburger-after-rotate-in;
    }
    #mobileNavigation:not(.in) ~ #navigation {
        opacity: 0;
        visibility: hidden;
    }
    #navigation  .top-bar-left{
        display: none;
    }
    #navigation {
        top: 3.125rem;
        height: 100%;
        vw: 100;
        vh: 100;
        background-color: white;
    }
    #navigation .top-bar-right svg {
        width: 1.125rem;
        height: 1.125rem;
        vertical-align: middle;
    }
    #navigation use,
    #navigation path {
        fill: rgba(38, 50, 56, 1);
    }
    #navigation a {
        color: rgba(38, 50, 56, 1);
        font-size: 1.935rem;
        font-weight: 300;
    }
    #navigation a:hover::before {
        display: none;
    }

    #navigation .top-bar-right {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #navigation .top-bar-right > .menu > li:last-child > .menu,
    #navigation .top-bar-right > .menu > li .vertical.menu > li {
        border-bottom: 1px solid rgba(236, 239, 241, 1);
    }
    #navigation .top-bar-right > .menu > li {
        width: 100%;
        display: block;
    }
}

@media (min-width: 48em) {
    .medium-up-2 > .column:nth-child(2n+1):nth-last-child(-n+2),
    .medium-up-2 > .column:nth-child(2n+1):nth-last-child(-n+2) ~ .column {
        margin: 0;
    }
    #mobileNavigation {
        display: none;
    }
}


/* Medium devices (tablets, less than 62em) */
@media (max-width: 61.9em) {
    .sample .details {
        transform: none;
    }
    .sample .details .body,
    .sample .details .title {
        transform: none;
        opacity: 1;
    }
}


/* Large devices (desktops, less than 75em) */
@media (max-width: 74.9em) {

}
/* Keyframes */

@keyframes hamburger-rotate-in {
  0% {}
  100% {
    transform: rotate(180deg);
  }
}
@keyframes hamburger-before-rotate-in {
  0%{}
  100% {
    transform: rotate(45deg);
    margin: 7% 37%;
    width: 75%;
  }
}

@keyframes hamburger-after-rotate-in {
  0%{}
  100% {
    transform: rotate(-45deg);
    margin: -7% 37%;
    width: 75%;
  }
}

@keyframes hamburger-rotate-out {
  0% {
    transform: rotate(-180deg);
  }
  100% {}
}
@keyframes hamburger-before-rotate-out {
  0% {
    transform: rotate(45deg);
    margin: 7% 37%;
    width: 75%;
  }
  100%{}
}
@keyframes hamburger-after-rotate-out {
  0% {
    transform: rotate(-45deg);
    margin: -7% 37%;
    width: 75%;
  }
  100%{}

}


