body {
    margin: 0;
    padding: 0;
}
.cutter-main {
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, 'Ububtu', Arial, sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: inherit;
    width: 100%;
    min-height: 100%;
    color: #313131;
    overflow: hidden;
    position: relative;
}

.cutter-main label {
    font-size: 0.8em;
}

.cutter-main img {
    max-width: 100%;
}

.cutter-main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cutter-main input {
    outline: none !important;
}

.cutter-main *, .cutter-main *::before, .cutter-main *::after {
    box-sizing: inherit;
    font-family: inherit;
    outline: inherit;
    color: inherit;
}

.cutter-main *:not(textarea):not(input), .cutter-main *::before, .cutter-main *::after {
    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -ms-touch-action: inherit;
    touch-action: inherit;
    -ms-user-select: inherit;
    -moz-user-select: inherit;
    user-select: inherit;
}

.cutter-main input::placeholder {
    color: white;
}

.cutter-main input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

.cutter-main input::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

.cutter-main input:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}


.cutter-form.cutter-search-form-google-images .cutter-action,
.cutter-toolbar.cutter-file-controls .cutter-action,
.cutter-toolbar.cutter-image-controls .cutter-action {
    /*! font-size: 0; */
    color: transparent;
}
.cutter-main select, 
.cutter-main button, 
.cutter-main input[type="text"], 
.cutter-main input[type="search"], 
.cutter-main input[type="email"] {
    border-radius: 2px;
    background-color: #1c1f22;
    color: white;
    height: 2em;
    border: none;
    padding: 0 1em;
    vertical-align: middle;
    width: 4em;
    flex: 1 1 0;
}
.cutter-main .cutter-btn-secondary {
    border-radius: 0px;
    background-color: white;
    color: #313131;
    border-top: 1px solid #ecececec;
    border-bottom:  1px solid #ecececec;

}
.cutter-main .cutter-btn-secondary:hover {
    background-color: none;
    color: rgba(0, 180, 255, 1);
}


.cutter-main select, 
.cutter-main input {
    font-size: 1em;
}
.cutter-main select, 
.cutter-main button {
    cursor: pointer;
}


.cutter-disabled {
    opacity: 0.35 !important;
    cursor: not-allowed !important;
    position: relative;
}
.history-drawer.cutter-disabled {
    opacity: 1 !important;

}

.cutter-disabled::before {
    cursor: inherit;
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.cutter-toolbar, .cutter-main {
    display: flex;
    flex-flow: row wrap;
}

/* Icons */
.cutter-search-selector {
    background-image: url("../icons/chevron-arrow-down.svg");
}
*[data-cutter-action="search-action-google-images"][data-context="web"] {
    background-image: url("../icons/search-web.svg");
}
*[data-cutter-action="search-action-google-images"][data-context="library"] {
    background-image: url("../icons/search-library.svg");

}


*[data-cutter-action="accept"] {
    background-image: url("../icons/accept.svg")
}

*[data-cutter-action="cancel"] {
    background-image: url("../icons/cancel.svg")
}

*[data-cutter-action="camera"] {
    background-image: url("../icons/camera.svg")
}

*[data-cutter-action="source"] {
    background-image: url("../icons/add_file.svg")
}

*[data-cutter-action="crop"] {
    background-image: url("../icons/crop.svg")
}

*[data-cutter-action="settings"] {
    background-image: url("../icons/settings.svg")
}

*[data-cutter-action="filters"] {
    background-image: url("../icons/filters.svg")
}

.cutter-toolbar {
    height: 3em;
    background-color: #E0E0EA;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.cutter-previewer canvas {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;

}

.cutter-previewer-preview > canvas {
    width: 100% !important;
    height: 100% !important; 
}

.cutter-picture-pane .cutter-btn-secondary {
    width: 100%
        
}

/*min-height: 30em;*/
.cutter-preview {
    flex: 0 0 75%;
    background-color: #848484;
    position: relative;
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100%);
    overflow: hidden;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}

.cutter-sidebar {
    flex: 1 1 0px;
    max-width: 25%;
    background-color: white;
    position: relative;
}

.cutter-previewer > * {
    display: block;
}

.cutter-previewer {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items = center; align-items: center;
}

.cutter-previewer-image, .cutter-previewer-preview {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.cutter-file-controls {
    flex: 0 0 10%;
    justify-content: space-between;
    background-color:  #2c3136;
    padding: 0 1em;
    order: 5;
    margin-top: auto;
}

.cutter-file-controls > div > * {
    transition: opacity 300ms ease-in-out;
}

.cutter-image-controls {
    align-items: stretch;
    justify-content: center;
    padding: 0 1em;
    background: white;
    border-bottom: 1px solid #ececec;
}

.cutter-image-controls button.cutter-set {
    background-color: white !important;
}

.cutter-image-controls button {
    height: 100% !important;
    width: 20%;
    background-size: 1.5em;
}
.cutter-main .cutter-search-form-google-images {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 3em;
    background: #E0E0EA;
    padding: 0 1em;
    position: relative;
}
.cutter-search-selector,
.cutter-main .cutter-search-action-google-images {
    border-radius: 0;
    background-size: 1.275em;
    background-repeat: no-repeat;
    background-position: center center;
    border-left: 1px solid white;
    min-width: 2em;
    font-size: 1em;
}
.cutter-search-selector {
    border-radius: 0 !important;;
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}
.cutter-search-context-menu {
    position: absolute;
    top: 100%;
    right: 5%;;
    display: block;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(224, 224, 234);
    margin-top: 1em;
    z-index: 10;

}
.cutter-search-context-menu,
.cutter-search-context-menu > li {
    padding: 0.75em 1em;
    font-size: 1em;
    display: block;
    cursor: pointer;

}
.cutter-search-context-menu ,
.cutter-search-context-menu > li:last-child {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;

}
.cutter-search-context-menu > li:hover {
    background-color: rgba(0, 0, 0, 0.044);
} 

.cutter-search-context-menu[data-state="init"] {
    visibility: hidden;
}
.cutter-search-context-menu[data-state="active"] {
    visibility: visible;
}

.cutter-main input[type="search"].cutter-google-images {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    flex: 0 0 80%;
    max-width: 80%;
}

.cutter-filetype {
    text-transform: uppercase;
}

.cutter-filters-presets > button:hover, .cutter-image-controls button, .cutter-tween {
    transition: all 350ms ease-in-out;
}

.cutter-image-controls button {
    border-radius: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

.cutter-image-controls button:not(.cutter-disabled):hover {
    background-color: white;
}

.cutter-file-meta {
    flex: 0 0 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    display: flex;
}



.cutter-select.cutter-filetype {
    flex: 0 0 calc(25% - 2px);
    max-width: calc(25% - 2px);
    background-image: url("../icons/chevron-arrow-down.svg");
    background-position: center right 5%;
    background-size: 1.125em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cutter-input.cutter-filename {
    flex: 0 0 calc(60% - 2px) !important; 
    max-width: calc(60% - 2px);
    
}

.cutter-download {
    max-width: 3em;
    background-position: center center;
    background-image: url('../icons/download.svg');
    background-size: 1.125em;
    background-repeat: no-repeat;
    padding: 0;
    width: 3em;
    height: 100%;
    min-height: 100%;
    flex: 0 0 calc(15% - 2px);
    background-color: rgba(0, 180, 255, 1) !important;
    font-size: 1em;
}

.cutter-download.cutter-clickable:not(.cutter-disabled) {
    overflow: visible;
}

.cutter-download.cutter-clickable:not(.cutter-disabled)::before {
    background-color: rgba(52,152,219, 0.3);
    width: 2em;
    height: 2em;
}

.cutter-download-actions {
    flex: 0 0 20%;
    flex-flow: row wrap;
    text-align: right;
}

.cutter-download-actions .cutter-action {
    border-radius: 0px;
    background-color: transparent;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2em;
}

.cutter-download-actions .cutter-action:not(:last-child) {
    margin-right: 1em;
}

.cutter-controls-active {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    display: block;
    padding: 0.5em 0;
    border-bottom: 1px solid #ececec;
}

/* Panes  */
.cutter-pane {
    margin-top: 1.275em;
    
}
.cutter-picture-pane {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}
.cutter-picture-pane .cutter-btn-secondary {
    flex: 0 0 calc(50% - 2em);
    max-width: calc(50% - 2em);
    height: 6em;
    display: block;
    position: relative;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 1px solid #ececec; 
    color: transparent;
    background-position: center;
    background-size: 3em;
    
}
.cutter-picture-pane .cutter-btn-secondary:hover { 
    color: transparent;
}
.cutter-take-picture {
    margin-right: 1em !important;
}
.cutter-help {
    display: none !important;;
}
.cutter-pane-camera[data-state="init"] {
    display: none !important;
}

.cutter-pane > * {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

/* Camera Pane*/
.cutter-filters-apply, .cutter-sidebar .cutter-source-in, .cutter-picture-pane span.cutter-text, .cutter-heading, .cutter-btn-secondary {
    text-transform: uppercase;
    font-size: 1em;
    color: #313131;
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
    background-position: right 1em center;
    background-color: #EBE7CC;
    background-repeat: no-repeat;
    background-size: 1.5em;
    cursor: pointer;
    border-radius: 0;
}

.cutter-picture-pane .cutter-btn-secondary {
    text-align: left;
}

.cutter-picture-pane .cutter-btn-secondary + .cutter-btn-secondary {
    margin-top: 0.725em;
}

.cutter-take-picture {
    background-image: url("../icons/camera.svg");
}

.cutter-discard-picture {
    background-image: url("../icons/close.svg");
}

.cutter-picture-pane .cutter-help {
    text-align: justify;
    font-size: 1em;
    padding: 0.5em 1em;
    line-height: 1.5;
}

/* Destop Pane */
.cutter-sidebar {
    display: flex;
    flex-flow: column wrap;
}

.cutter-source-pane[data-state="active"] .cutter-source-dropzone::before {
    font-size: 0 !important;
    color: transparent !important;
}

.cutter-source-pane[data-state="active"] .cutter-source-out {
    visibility: visible !important;
}

.cutter-sidebar .cutter-source-pane {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 0;
    max-height: 100%;
}

.cutter-sidebar .cutter-source-dropzone {
    flex: 0 0 40%;
    max-height: 40%;
    background-color: #EBE7CC;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 3px 1px rgba(31,31, 31, 0.8);
    position: relative;
    border-radius: 2px;
    width: calc(100% - 1em);
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
    color: transparent;
    /*! font-size: 0px; */
}

.cutter-source-dropzone.cutter-over::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
}

.cutter-sidebar .cutter-source-dropzone::before {
    content: attr(title);
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: none;
    border-radius: inherit;
    border: 3px dashed #313131;
    font-size: 0.875em;
    color: #313131;
    padding: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cutter-sidebar .cutter-source-dropzone-text {
    flex: 1 1 0;
    padding: 10%;
    line-height: 1.4;
}

.cutter-sidebar .cutter-source-out {
    flex: 1 1 0;
    visibility: hidden;
}

.cutter-sidebar .cutter-source-in {
    position: relative;
    cursor: pointer;
}

.cutter-sidebar .cutter-source-in-input {
    opacity: 0;
    z-index: 100;
    cursor: pointer;
}

.cutter-source-in-input:hover + .cutter-source-input-heading {
    background: #dad6bb;
}

.cutter-sidebar .cutter-source-in > * {
    display: block;
    position: absolute;
    height: 2em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
}

.cutter-sidebar .cutter-source-input-heading {
    width: 100%;
    font-size: inherit;
    color: inherit;
    background: inherit;
    width: 100%;
    text-transform: inherit;
    text-align: center;
}

.cutter-source-out {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column wrap;
}

.cutter-source-info {
    overflow: auto;
    height: 100%;
    flex: 1 1 0;
    padding-bottom: 0.5em;
}

.cutter-source-output-heading {
    border-bottom: 3px solid #313131;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.cutter-source-output-heading, .cutter-source-info-entry {
    display: block;
}

.cutter-source-info-entry {
    padding: 0 0.5em;
}

.cutter-source-info > .cutter-source-info-entry + .cutter-source-info-entry {
    margin-top: 0.335em;
}

.cutter-source-output-heading, .cutter-source-info-key {
    text-transform: uppercase;
}

.cutter-source-info-key, .cutter-source-info-value {
    font-size: 0.875em;
}

.cutter-source-info-value {
    word-wrap: break-word;
}

.cutter-source-info-key {
    font-weight: 700;
    margin-right: 0.335em;
}

.cutter-source-info-value {
    color: #939393;
}

/* Filters Pane */
.cutter-filters-presets {
    max-width: 100%;
    padding: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: auto;
    flex: 1 1 0;
}

.cutter-filters-presets > button {
    display: inline-block;
    font-size: 0.875em;
    color: white;
    background-color: #3498db;
    border-radius: 2px;
    text-align: center;
    text-transform: capitalize;
    width: calc(50% - 0.670em);
    margin-top: 0.5em;
    padding-left: 0;
    padding-right: 0;
}

.cutter-filters-presets > button.cutter-set {
    cursor: not-allowed;
}

.cutter-filters-presets > button.cutter-set, .cutter-filters-presets > button:hover {
    background-color: #f39c12;
}

.cutter-filters-apply {
    text-align: center;
    display: flex;
    justify-content: center;
}

.cutter-filters-presets > button:nth-child(2n + 1) {
    margin-right: 0.335em;
}

.cutter-filters-presets > button:nth-child(2n + 2) {
    margin-left: 0.335em;
}

/* Settings */
.cutter-crop-pane, .cutter-filters-pane, .cutter-settings-pane {
    display: flex;
    flex: 1 1 0;
    flex-flow: column nowrap;
    max-height: 100%;
}

.cutter-filters-pane .cutter-filters-apply, .cutter-crop-mutators, .cutter-filters-mutators {
    max-width: 100%;
    display: flex;
    flex: 0 0 3em;
    width: 100%;
}

.cutter-crop-mutators, .cutter-filters-mutators {
    justify-content: space-between;
}


.cutter-toolbar.cutter-image-controls .cutter-action:first-child  {
    border-right: 1px solid #ececec; 
}
.cutter-toolbar.cutter-image-controls .cutter-action:not(:first-child)  {
    border-right: 1px solid #ececec; 
}
.cutter-toolbar.cutter-image-controls .cutter-action:last-child  { 
    border-right: 0px solid #ececec; 
}  


.cutter-clickable:not(.cutter-disabled)::before {
    content: " ";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    opacity: 1;
    width: 5em;
    height: 5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.cutter-clickable:not(.cutter-disabled):active::before, .cutter-clickable:not(.cutter-disabled):focus::before {
    animation: ripple 0.65s linear;
}

.cutter-clickable, .cutter-btn-secondary {
    position: relative;
    overflow: hidden;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.5);
    }
}
.cutter-settings-rotation > .cutter-btn-secondary,
.cutter-crop-mutators > .cutter-btn-secondary, 
.cutter-filters-mutators > .cutter-btn-secondary {
    width: calc(50% - 0.5em);
    text-align: center;
    font-size: .875em;
    height: 3em;
    border-left: 1px solid #ececec;
    font-weight: 400;
}
.cutter-settings-rotation > .cutter-btn-secondary,
.cutter-crop-mutators > .cutter-btn-secondary:first-child, 
.cutter-filters-mutators > .cutter-btn-secondary:first-child {
    border-left: none;
    
}
.cutter-settings-rotation {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.cutter-settings-rotation > button {
 font-size: .875em;
 padding: 0;
 width: calc(33% - .5em);

}
.cutter-crop-controls, 
.cutter-settings-filter-controls {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    padding: 0 0.5em 0.5em 0.5em;
    margin-top: 1em;
    flex: 1 1 0;
    overflow: auto;
}

.cutter-crop-control + .cutter-crop-control, .cutter-settings-control + .cutter-settings-control {
    margin-top: 0.65em
}

.cutter-crop-aspect-ratio, .cutter-crop-aspect-ratio > input[type="number"], .cutter-crop-control, .cutter-crop-control > input[type="number"] , .cutter-settings-control, .cutter-settings-control > input[type="number"] {
    font-size: 1em;
}

.cutter-crop-aspect-ratio {
    margin-top: 0.5em;
    position: relative;
}

.cutter-crop-aspect-ratio > input[type="number"], .cutter-crop-aspect-ratio > input[type="checkbox"] {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.cutter-crop-aspect-ratio > input[type="number"] {
    right: -0.5em;
}

.cutter-main input[type="checkbox"] {
    margin: 0;
}
.cutter-main input[type="checkbox"]::before {
    content: "\2714";
    display: block;
    cursor: inherit;
    width: 1em;
    height: 1em;
    vertical-align: top;
    background: white;
    border: 1px solid #dad6bb;
    border-radius: 2px;
    z-index: 2;
    line-height: 1;
    font-size: 0.825em;
    text-align: center;
    color: white;
}
.cutter-main input[type="checkbox"]:checked::before {
    content: "\2714";
    background: #ebe7cc;
}

.cutter-crop-aspect-ratio > input[type="checkbox"] {
    left: auto;
    margin-left: 0.5em;
    z-index: 100;
}

.cutter-crop-aspect-ratio, .cutter-crop-control, .cutter-settings-control {
    text-transform: uppercase;
    color: #313131;
    font-weight: 600;
    width: 100%;
    position: relative;
}

.cutter-settings-control .cutter-quit {
    position: absolute;
    right: 0;
    top: 0;
}

.cutter-crop-control > input[type="number"], .cutter-settings-control > input[type="number"] {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    transform: translate(0.5em, 0em);
    min-width: 3.5em;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.cutter-settings-control > input[type="number"] {
    right: 2em;
}

.cutter-settings-control input[type="range"] {
    margin-top: 0.5em;
    display: inline-block;
}
.cutter-main input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0.335em 0;
    width: 100%;
    padding: 0;
    background: none;
    position: relative;
    outline: none !important;
    border: none !important;
}
.cutter-main input[type="range"]:focus {
    outline: none !important;
}
.cutter-main input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.725em;
    cursor: pointer;
    animate: 0.2s;
    background: white;
    border-radius: 2px;
    border: 0.2px solid #cecece;
    transition: all 0.35s ease-in;
}
.cutter-main input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #dad6bb;
}
.cutter-main input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #cecece;
    height: 1em;
    width: 1em;
    border-radius: 3px;
    background: #ebe7cc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.255em;
}
.cutter-main input[type="range"]:focus::-webkit-slider-runnable-track {
    box-shadow: 0 0 3px 1px #ebe7cc;
}
.cutter-main input[type="range"]::-moz-range-track {
    width: 100%;
    height: 0.4em;
    cursor: pointer;
    animate: 0.2s;
    background: white;
    border-radius: 2px;
    border: 0.2px solid #ececec;
    transition: all 0.35s ease-in;
}
.cutter-main input[type="range"]:focus::-moz-range-track {
}
.cutter-main input[type="range"]:hover::-moz-range-thumb {
    border-color: rgba(0, 180, 255, 0);
    box-shadow: 0px 0px 3px 0px rgba(0, 180, 255, 0.3);
}
.cutter-main input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    border: 1px solid #ececec;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: rgb(240, 240, 240);
    cursor: pointer;
    margin-top: -0.255em;
    border-radius: 200px;
    transition: all 0.3s ease-in-out;
}
.cutter-main input[type="range"]::-ms-track {
    width: 100%;
    height: 0.725em;
    cursor: pointer;
    animate: 0.2s;
    background: white;
    border-radius: 2px;
    border: 0.2px solid #cecece;
    transition: all 0.35s ease-in;
}
.cutter-main input[type="range"]::-ms-fill-lower {
    display: none,
}
.cutter-main input[type="range"]::-ms-fill-upper {
    display: none;
}
.cutter-main input[type="range"]::-ms-thumb {
    border: 1px solid #cecece;
    height: 1em;
    width: 1em;
    border-radius: 3px;
    background: #ebe7cc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.255em;
}
.cutter-main input[type="range"]:focus::-ms-fill-lower {
    box-shadow: 0 0 3px 1px #ebe7cc;
}
.cutter-main input[type="range"]:focus::-ms-fill-upper {
    box-shadow: 0 0 3px 1px #ebe7cc;
}
.cutter-main input[type="number"] {
    text-align: right;
    border: none;
    background: none;
}
.cutter-main input[type="number"]::-webkit-inner-spin-button {
    cursor: pointer;
    display: block;
    float: left;
    position: absolute;
    right: 100%;
    text-align: center;
    position: relative;
}

/* Previewer */
.cutter-previewer[data-state="init"] .cutter-previewer-preview {
    display: none;
}

.cutter-ephemeral {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6.7%;
    background-image: url('../icons/preloader.gif');
}

.cutter-search-apply {
    margin-top: 1.275em;
    width: 100% !important;
}

.cutter-search-view {
    width: 100%;
    overflow: auto;
    flex: 1 1 0;
    padding: 2em 1.036em 0 0.5em;
    background-color: #f0f0fa;
}

.cutter-search-list {
    height: auto;
    width: 100%;
}

.cutter-item.cutter-search-list-item + .cutter-item.cutter-search-list-item {
    margin-top: 1em;
}

.cutter-item.cutter-search-list-item {
    display: flex;
    flex-flow: row nowrap;
}

.cutter-search-list-thumbnail {
    flex: 0 0 35%;
    max-width: 100%;
    height: 100%;
    width: 35%;
    cursor: pointer;
}

.cutter-group.cutter-search-list-info {
    flex: 0 0 65%;
    max-width: 65%;
    padding-left: .335em;
}

.cutter-picture-pane .cutter-help, .cutter-group.cutter-search-list-info > * {
    display: block;
    vertical-align: top;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

span.cutter-text.cutter-search-list-name {
    font-size: 0.875em;
    font-weight: 600;
}

span.cutter-text.cutter-search-list-size {
    font-size: .75em;
}

.cutter-main .cropper-point {
    background-color: #ebe7cc !important;
    opacity: 1;
    width: 3px;
    height: 3px;
}

.cutter-main .cropper-point.point-nw, .cutter-main .cropper-point.point-ne, .cutter-main .cropper-point.point-sw, .cutter-main .cropper-point.point-se {
    width: 20px !important;
    height: 20px !important;
}

.cutter-main .cropper-point:not(.point-se) {
}
.cutter-main .cropper-line::after {
    content: "";
    display: block;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: inherit;
}

.cutter-main .cropper-line.line-s::after, .cutter-main .cropper-line.line-n::after {
    width: 100%;
    height: 2em;
}

.cutter-main .cropper-line.line-s, .cutter-main .cropper-line.line-n {
    height: 3px;
    background: #ebe7cc;
    background: linear-gradient(to right, #ebe7cc 0%, #ebe7cc 5%, #313131 5%, #313131 10%, #ebe7cc 10%, #ebe7cc 15%, #313131 15%, #313131 20%, #ebe7cc 20%, #ebe7cc 25%, #313131 25%, #313131 30%, #ebe7cc 30%, #ebe7cc 35%, #313131 35%, #313131 40%, #ebe7cc 40%, #ebe7cc 45%, #313131 45%, #313131 50%, #ebe7cc 50%, #ebe7cc 55%, #313131 55%, #313131 60%, #ebe7cc 60%, #ebe7cc 65%, #313131 65%, #313131 70%, #ebe7cc 70%, #ebe7cc 75%, #313131 75%, #313131 80%, #ebe7cc 80%, #ebe7cc 85%, #313131 85%, #313131 90%, #ebe7cc 90%, #ebe7cc 95%, #313131 95%, #313131 100%, #ebe7cc 100%);
    opacity: 1;
}

.cutter-main .cropper-line.line-w::after, .cutter-main .cropper-line.line-e::after {
    width: 2em;
    height: 100%;
}

.cutter-main .cropper-line.line-w, .cutter-main .cropper-line.line-e {
    width: 3px;
    background: linear-gradient(to bottom, #ebe7cc 0%, #ebe7cc 5%, #313131 5%, #313131 10%, #ebe7cc 10%, #ebe7cc 15%, #313131 15%, #313131 20%, #ebe7cc 20%, #ebe7cc 25%, #313131 25%, #313131 30%, #ebe7cc 30%, #ebe7cc 35%, #313131 35%, #313131 40%, #ebe7cc 40%, #ebe7cc 45%, #313131 45%, #313131 50%, #ebe7cc 50%, #ebe7cc 55%, #313131 55%, #313131 60%, #ebe7cc 60%, #ebe7cc 65%, #313131 65%, #313131 70%, #ebe7cc 70%, #ebe7cc 75%, #313131 75%, #313131 80%, #ebe7cc 80%, #ebe7cc 85%, #313131 85%, #313131 90%, #ebe7cc 90%, #ebe7cc 95%, #313131 95%, #313131 100%, #ebe7cc 100%);
    opacity: 1;
}

.cutter-download::after {
    position: absolute;
    content: " ";
    background: rgba(52,152,219, 1);
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-clip: border-box;
    display: none;
    transform: translate(-50%, -50%) scale(0);
    animation-fill-mode: forwards;
    animation: pending 1s ease-in 0s infinite;
    animation-play-state: paused;
}

.cutter-download.cutter-pending::after {
    animation-play-state: running !important;
    display: block !important;
}

.cutter-notification {
    position: absolute;
    width: auto;
    font-size: 0.875em;
    padding: 0.875em;
    border-radius: 2px;
    top: 0;
    left: 50%;
    display: inline-block;
    transition: all 700ms cubic-bezier(.68,-0.55,.27,1.55);
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    padding-right: 3em;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    word-wrap: break-word;
    word-break: break-all;
}
.cutter-main .cutter-quit {
    background: #333;
    color: white;
    border-radius: 50%;
    width: 2.125em;
    height: 2.125em;
    font-size: 0.55em;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background-clip: border-box;
}

.cutter-quit.alt {
    background: none;
    color: #333;
    box-shadow: inset 0px 0px 0px 1px #333;
}

.cutter-notification .cutter-quit {
    position: absolute;
    right: 1.6em;
    top: 1.6em;
}

.cutter-preview .cutter-notification {
    top: 1em;
    width: 66%;
}

.cutter-notification[data-state="active"] {
    opacity: 1 !important;
    transform: translate(-50%, 0%) !important;
    visibility: visible !important;
}

.cutter-notification[data-cutter-type="info"] {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

.cutter-notification[data-cutter-type="danger"] {
    background-color: rgba(241, 169, 160, 0.9);
    color: #663333;
}

.cutter-notification[data-cutter-type="warning"] {
    background-color: rgba(253, 227, 167, 0.9);
    color: #666633;
}

.cutter-notification[data-cutter-type="success"] {
    background-color: rgba(162, 222, 209, 0.9);
    color: #336633;
}

@keyframes pending {
    from {
        opacity: 0.7;
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2);
    }
}
@keyframes swip-left {
    from {
        transform: translate3d(100%, 0, 0);
    } 
    to {
        transform: translate3d(0, 0, 0);
    }
}
.cutter-history-drawer.cutter-disabled {
    transform: translate3d(calc(100% + 8em), 0, 0);
    opacity: 1 !important;
}

.cutter-history-drawer {
    transform: translate3d(calc(100% + 4em), 0, 0);
}
.cutter-history-drawer.cutter-active {
    transform: translate3d(100%, 0, 0);
}
.cutter-history-drawer.cutter-active.cutter-open {
    transform: translate3d(0, 0, 0);
}
@media (max-width: 61.9em) {
    .cutter-history-drawer {
     transform: translate3d(calc(100% + 2em), 0, 0);
 } 
}

.cutter-history-drawer.cutter-active.cutter-open .cutter-history-opener::after {

    transform: rotate(180deg);
}
.cutter-history-drawer {
    min-width: 25%;
    color: white;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; 
    transition: transform 0.35s ease-in;
}
.cutter-history-drawer > *,
.cutter-history-drawer > *::after,
.cutter-history-drawer > *::before
{
    transition: inherit;
}
.cutter-main button.cutter-history-opener,
.cutter-main button.cutter-history-undo {
    position: absolute;
    right: 100%;
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    min-width: 2em;
    min-height: 2em;
    padding: 0.5em;
    max-width: 4em;
    font-size: 1em;
    color: transparent;
}
.cutter-history-opener::after,
.cutter-history-undo::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: 0.875em;
    background-position: center center;
}

.cutter-history-heading {
    display: block;
    min-height: 2em;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 2em;
    padding-left: 0.5em;
    background-color: rgba(0, 0, 0, 0.7);
}
.cutter-history-undo {
    transform: translateX(-100%);

}
.cutter-history-opener::after {
    background-image: url('../icons/chevron-left.svg');
}

.cutter-history-undo::after {
    background-image: url('../icons/back-arrow.svg');
}
.cutter-history-list {
    margin: 0;
    display: block;
    width: 100%;
    list-style: none;
    padding: 0;
    background: none;
    min-height: 11em;

}
.cutter-history-drawer:empty {
    display: none;
}
.cutter-main .cap {
    text-transform: capitalize;
}
.cutter-main .ellipsis,
.cutter-history-list button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cutter-history-list li {
    color: #313131;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0 0 0 0.5em;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    line-height: 1em;
}
.cutter-history-list button {
    background: none;
    color: #313131;
    border-radius: 0;
    min-height: 2.1em;
    font-size: 0.875em;
    text-align: left;
    padding: 0;
    max-width: 11em;
    width: 100%;

}
.cutter-history-list li + li {
    border-top: 1.5px solid rgba(31,31,31, .7);
}
